.root{
    -fx-background-color: beige;
}

HBox{
    -fx-background-color: rgba(FF,DA,B9,0.5);
    -fx-padding: 10;
    -fx-spacing: 10;
}

.button{
    -fx-font-family: Georgia;
    -fx-font-size: 15;
    -fx-text-fill: maroon;

}

.label{
    -fx-text-fill: maroon;
    -fx-font-family: Georgia;
    -fx-font-size: 20;
}