.root{
    -fx-background-color: black;
}

VBox{
    -fx-padding: 10;
    -fx-spacing: 3;
}

.button{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: Georgia;
    -fx-font-size: 20;
}

.label{
    -fx-text-fill: white;
    -fx-font-family: Georgia;
    -fx-font-size: 40;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #333333;
    -fx-border-width: 3;
}

.menu-bar{
    -fx-background-color: black;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #333333;
}

.menu .label{
    -fx-text-fill: white;
    -fx-font-family: Georgia;
    -fx-font-size: 20;
}

.menu-item .label{
    -fx-text-fill: black;
    -fx-font-size: 15;
}